</div>
<!-- Page Body -->

<!-- Page Footer --> 
<footer class="footer">
    <div class="container">
        <div class="page-footer">
           Copyright &copy;2017 
        </div>
    </div>
</footer>
<!-- Page Footer --> 
 
</body>
</html>