<%- include("_header"); %>
<article>
    <header>
        <h1><%= page_title %></h1>
    </header>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quibusdam, voluptate vitae pariatur totam quo, id provident aperiam eaque repellat voluptatum ex deserunt omnis voluptas tenetur deleniti quas nam itaque.
    </div>
    <footer>
        Social icons
    </footer>
</article>
<%- include("_footer"); %>