body { background-color: #fff; color: #333;}
nav.navbar { background-color: #f4f4f4; }
.logo { 
    min-width: 32px; 
    height: 32px; 
    padding: 5px 15px;
    background-color: #e5e5e5;
    color: #fff;
    font-size: 12px;

}

/* Page parts */
article { }
.page-header { border-bottom: 1px dotted #ccc; margin-bottom: 50px; }
.page-footer { border-top: 1px dotted #ccc; margin-top: 50px; }

/* Web form */
.main {
    margin: auto;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
}